body{
	margin: 0%;	
}

#container{
	width: 100%;
	margin: auto;
	position: relative;
}

header{
	text-align: center;
	margin: 35px 0px;
	font-size: 35px;
}

hr{
	margin: 0px;
	padding: 0px;
}

nav{
	width: 100%;
	float: left;
	margin: 5px;
}	

nav li{
	list-style: none;
	display: inline-block;
	margin: 5px 5px;
	font-size: 15px;
}



.desc{
	width: 400px;
	margin: 0px auto 25px;
	padding-top: 15px;
	padding-bottom: 75px;
	border: 1px solid black;
}

.desc p{
	margin: 0px 15px ;
}

footer ul{
	list-style: none;
	margin: 10px;
	text-align: center;
}

footer li{
	margin: 10px;
}



