body{
	margin: 0%;	
}

a{	
	font-weight: none;
}

a:active{
	text-decoration: none;
}

a:link{
	color: red;
}

a:visited{
	color: green;
}

a:hover{
	font-weight: bold;
}

#container{
	width: 100%;
	margin: auto;
	position: relative;
}

@font-face {
    font-family: Bungee;
    src: url(Bunge.ttf);
}

header{
	font-family: Bungee;
	text-align: center;
	margin: 35px 0px;
	font-size: 35px;

}

hr{
	margin: 0px;
	padding: 0px;
}

nav{
	width: 100%;
	float: left;
	margin: 0px;
	background-color: yellow;
}	

nav li{
	list-style: none;
	display: inline-block;
	margin: 5px 5px;
	font-size: 15px;
}

img{
	display: block;
	width: 400px;
	height: 150px;
	margin: 35px auto;
}

.desc{
	width: 400px;
	margin: 0px auto 25px;
	padding-top: 15px;
	padding-bottom: 75px;
	border: 1px solid black;	
}

.desc p{
	margin: 0px 15px ;
}

.bgcolor{
	background-color: orange;

}

footer ul{
	list-style: none;
	margin: 10px;
	text-align: center;
}

footer li{
	margin: 10px;
}

/****************Menu Page*******************/



table#beverages{
	width: 15%;
	padding: 0 0 50px 0;
	margin: 0 auto;	
}

table#beverages td{
	font-style: italic;
	color: green;
}

table caption{
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
}



/****************Contact Us Page*******************/

table{
    border: none; 
    width: 100%;
    padding-top: 40px;
    padding-bottom: 55px;
}

#col1 {
    border: none;
    width: 150px;
		text-align: right;
}

#col2 {
    border: none;
    width: 250px;
    padding-left: 10px;
}

#col2 input{
	width: 200px;
}

#col2 select{
	width: 200px;
}

#col2 textarea{
	width: 200px;
	height: 100px;
}



.box{
	padding: 10px 0;
}

.button{
	width: 125px;
margin-left: 95px;
}

label{
	font-weight: bold;
}