
.img1 {
	height: 300px;
	background-image: url(cover.jpg);
	background-repeat: no-repeat;
	background-position: center; 
}


a{font-size: 24px;}

.t1{
	border-top:3px solid black;	
}

table,th, td {
	font-size: 16px;
	font-weight: normal;
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
}

@font-face {
    font-family: Bungee;
    src: url(Bunge.ttf);
}

.font1{
	font-family: Bungee;
}

ul li{
	font-style: italic;
}